<!DOCTYPE html>
<html lang="en" th:replace="~{user/base :: basepage(~{::#content},~{::title},~{::style})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>

    </style>
</head>
<body>

    <div id="content">
        <div class="flex items-center flex-col sm:pl-64">
            <h1 class="text-4xl">User Dashboard</h1>
            <h1 th:text="${user.name}"></h1>    
        </div>

    </div>


    <script>

    </script>
</body>
</html> 

<!-- <!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${user.name}+' |  Dashboard'">
      Profile Page
    </title>
  </head>
  <body>
    <div id="content">

      <div th:if="${user}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>

      <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="flex justify-center flex-col items-center">
          <h1 class="text-5xl">Welcome to Dashbaord page</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur, ratione!
          </p>
        </div>
      </div>
    </div>

    <script>
      console.log("this is profile page");
    </script>
  </body>
</html> -->