<!DOCTYPE html>
<html lang="en" th:replace="~{user/base :: basepage(~{::#content},~{::title},~{::script})}">

<head>
    <title>Your Contacts</title>
</head>

<body>
    <div id="content">

        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64">
            <div class="">
                <h1 class="text-5xl text-center mb-3">Your Contacts</h1>

                <!-- search contacts -->

                <div th:if="${session.message}">
                    <div th:replace="~{message :: messagebox}">

                    </div>

                </div>
                <form th:action="@{/user/contacts/search-contacts}" class="max-w-lg mx-auto" th:object="${searchForm}">
                    <div class="flex">
                        <label for="search-dropdown"
                            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <select name="searchType" id="search-dropdown" th:field="*{searchType}"
                            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
                            <option th:value="name" value="name">Name</option>
                            <option th:value="email" value="email">Email</option>
                            <option th:value="phone" value="phone">Phone</option>
                        </select>
                        <div class="relative w-full">
                            <input type="text" th:field="*{searchValue}" id="search-input"
                                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                placeholder="Search Contacts" />
                            <button type="submit"
                                class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>



                <div class="contacts_container p-5">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

                        <table th:if="${contacts}"
                            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Name</th>
                                    <th scope="col" class="px-6 py-3">Phone</th>
                                    <th scope="col" class="px-6 py-3">Links</th>
                                    <th scope="col" class="px-6 py-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:object="${contact}" th:each="contact  : ${contacts}"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row"
                                        class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                        <img onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                                            class="w-10 h-10 rounded-full" th:src="@{*{profilePic}}"
                                            src="/docs/images/people/profile-picture-1.jpg" alt="Jese image" />
                                        <div class="ps-3">
                                            <div class="text-base font-semibold" th:text="*{name}">
                                                Neil Sims
                                            </div>
                                            <div class="font-normal text-gray-500" th:text="*{email}">
                                                neil.sims@flowbite.com
                                            </div>
                                        </div>
                                    </th>
                                    <td class="px-6 py-4">
                                        <i class="fa-solid fa-phone w-4 h-4"></i>
                                        <span th:text="*{phoneNumber}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div th:if="*{favourite}"
                                                class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>

                                            <a class="mt-1" target="_blank"><i class="fa-solid w-6 h-6 fa-link"></i></a>
                                            <a class="mt-1" target="_blank">
                                                <i class="fa-brands w-6 h-6 fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div>
                                            <button th:onclick="deleteContact([[${contact.contactId}]])"><i class="fa-solid w-6 h-6 fa-trash"></i></button>
                                            <a th:href="@{'/user/contacts/update-contact/' + ${contact.contactId}}"> <i class="fa-solid w-6 h-6 fa-pen"></i></a>
                                            <a th:href="@{'/user/contacts/view-contact/' + ${contact.contactId}}"> <i class="fa-solid fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div th:if="${!contacts.isEmpty()}" class="pagination_container text-center p-3">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex -space-x-px text-base h-10">
                                    <li th:if="${currPage != 0}"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white ">
                                        <a class="page-link" th:href="@{'?page='+${currPage - 1}}">Previous</a>
                                    </li>
                                    <li th:classappend="${currPage==i-1?'active':''}"
                                        th:each="i : ${#numbers.sequence(1,totalPages)}" href="#" aria-current="page"
                                        class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white ">
                                        <a class="page-link" th:href="@{'?page='+${i-1}}"><span
                                                th:text="${i}"></span></a>
                                    </li>
                                    <li th:if="${currPage+1 != totalPages}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white ">
                                        <a class="page-link" th:href="@{'?page='+${currPage+1}}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <h1 th:if="${contacts.isEmpty()}"
                            class="text-5xl text-center dark:bg-gray-800 dark:text-white bg-white p-4">
                            No Contacts Found
                        </h1>
                    </div>
                </div>
            </div>
            <!-- <div th:replace="~{user/view_user :: model}"></div> -->
        </div>
    </div>
    <script>
        console.log("this is view-contacts page");
    </script>
</body>

</html>